
.EXP{
    text-decoration: none;
    font-family: sans-serif;
    background-color: brown;
    color:beige;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    gap: 100px;
}

.Experience{
    text-decoration: none;
    font-family: sans-serif;
    background-color: brown;
    color:beige;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
}

.Exp-Icon{
    text-decoration: none;
    font-family: sans-serif;
    color:beige;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    
}
.IMGCON{
    width: 200px;
    height: 200px; 
    object-fit: fill;
}
 


.TopNav{
    text-decoration: none;
    font-family: sans-serif;
    background-color: brown;
    color:beige;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    padding: 10px 400px;
    border-radius: 20px;

}

header{
    animation: drop 0.8s forwards;
}

.logo{
   margin-right: auto; 
}

.contactButton{
  margin-left: auto; 
  padding: 10px 20px;
  background-color:beige;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 8px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}
.contactButton:hover{
  background-color:rgb(175, 157, 132);
}


.TopNav a{
    text-decoration: none;
    color: black;
    background-color: beige;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.topNav a:hover{
    background-color:rgb(175, 157, 132);
}


@keyframes drop {
   0% {
      transform: translateY(-20px); /* start slightly above */
      opacity: 0;                    /* invisible */
   }
   100% {
      transform: translateY(10px);  /* final position 10px down */
      opacity: 1;                    /* fully visible */
   }
}


.HERO-VIDEO {
  position: relative;
  width: 100%;
  height: 60vh; 
  overflow: hidden;
}

/* Video fills the container */
.HERO-VIDEO video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 0;
}

/* Text on top */
.about-hero h1 {
  position: absolute;
  z-index: 1;
  color: white;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  line-height: 60vh;
}
.PicBoutMe{
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  font-weight: 400;
}

.AbtTXT{
  display: flex;
  flex-direction: column;
}