
.TopNav{
    text-decoration: none;
    font-family: sans-serif;
    background-color: brown;
    color:beige;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    padding: 10px 400px;
    border-radius: 20px;

}

header{
    animation: drop 0.8s forwards;
}

.logo{
   margin-right: auto; 
}

.contactButton{
  margin-left: auto; 
  padding: 10px 20px;
  background-color:beige;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 8px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}
.contactButton:hover{
  background-color:rgb(175, 157, 132);
}


.TopNav a{
    text-decoration: none;
    color: black;
    background-color: beige;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.topNav a:hover{
    background-color:rgb(175, 157, 132);
}


@keyframes drop {
   0% {
      transform: translateY(-20px); /* start slightly above */
      opacity: 0;                    /* invisible */
   }
   100% {
      transform: translateY(10px);  /* final position 10px down */
      opacity: 1;                    /* fully visible */
   }
}

.projects-container {
  display: flex;
  flex-wrap: wrap;              /* allows items to wrap to new lines */
  justify-content: center;      /* center them horizontally */
  gap: 20px;                    /* spacing between items */
  padding: 30px;
  text-decoration: none;
}

.project-card {
  background-color: #2c2c2c;
  color: white;
  border-radius: 12px;
  border-color: brown;
  border-width: 5px;
  width: 250px;                 /* base card width */
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
}

.project-card img {
  width: 200px;
  height: 200px;
  object-fit: cover;   /* crops image nicely */
  border-radius: 12px;         
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.Icon{
    display: flex;
    flex-direction: column;
    color: black;
    font-family: sans-serif;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    text-decoration:none;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
