
.TopNav{
    font-family: sans-serif;
    background-color: brown;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 30px;
    padding: 10px 400px;
    border-radius: 20px;
    
}

.TopNav a{
    color: black;
    background-color: beige;
    transition: all 0.3s ease;
}

.topNav a:hover{
    color: black;
}