@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap'); 

*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   background-color: rgb(37, 36, 36);
}

.welcome{
   font-family: sans-serif;
   font-size: 6rem;        /* huge text, bigger than H1 */
   font-weight: bold;
   text-align: center;
   color:beige;
   animation: drop 0.8s forwards;
}

.Logo {
  color: #e6d6a7; /* a warm yellow tone */
  background-color: brown;
  font-family: sans-serif;
  font-size: 2em; /* makes it larger than normal text */
  font-weight: bold;
  letter-spacing: 2px; /* adds a little spacing between letters */
}

li,a,button{ /* list, a tag, button tag styles */
   font-family: sans-serif;
   font-weight: 500;
   font-size: 16px;
   color: aliceblue;
   text-decoration: none;
}

header{
   background-color: brown;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 30px 10%;
}

.nav-links{ /* making our Navigation bar class -> DONT Forget the '.'!!!*/
   list-style: none;
}

.nav-links li{
   display: inline-block;
   padding: 0px 20px;
}

.nav-links li a{
   transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
   color: darkred;
}

button{
   padding: 15px 35px;
   background-color: gray;
   border: none;
   border-radius: 50px;
   cursor:pointer;
   transition: all 0.3s ease 0s;
}

button:hover{
   background-color: darkgray;
}

@keyframes drop {
   0% {
      transform: translateY(-20px); /* start slightly above */
      opacity: 0;                    /* invisible */
   }
   100% {
      transform: translateY(10px);  /* final position 10px down */
      opacity: 1;                    /* fully visible */
   }
}