* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}


body{
   font-family:sans-serif;
   background-color: #252424;
   color: white;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   text-align: center;
   padding: 20px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.welcome{
   font-family: sans-serif;
   font-size: 6rem;       
   font-weight: bold;
   text-align: center;
   color:beige;
   animation: drop 0.8s forwards;
}

.profile-pic {
  width: 75px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  border: 3px solid white;
}

.Profile{
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap; /* stacks on smaller screens */
  margin-top: 20px;
  animation: drop 0.8s forwards;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.2rem;
}

.contacts a {
   color:beige; /* bright accent color */
   text-decoration: none;
   font-weight: 600;
   padding: 10px 20px;
   border-radius: 5px;
   background-color: #994848;
   transition: all 0.3s ease;
}

.contacts a:hover {
  text-decoration: underline;
}

.nav-links {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.nav-links a{
   color: beige;
   text-decoration: none;
   font-weight: 600;
   padding: 10px 20px;
   border-radius: 8px;
   background-color: #994848;
   transition: all 0.3s ease;
}

.nav-links a:hover {
  background-color: #461e1e;
  color: white;
}


@keyframes drop {
   0% {
      transform: translateY(-20px); /* start slightly above */
      opacity: 0;                    /* invisible */
   }
   100% {
      transform: translateY(10px);  /* final position 10px down */
      opacity: 1;                    /* fully visible */
   }
}